@import "../../scss/variables.scss";


.headTitle {

  border: 5px solid $white;
  padding: 0 5px;
  width: auto;
  display: inline-block;
  margin: 0;

  &.animated {

    animation-duration: 2s;
    animation-delay: 0.5s;
    animation-iteration-count: 1;

  }

  .d-flex & {
    height: 45px;
    position: relative;
  }

  .d-flex .carousel & {
    border: 3px solid $white;
  }

  .headTitle__text {
    margin: 0;
    font-size: 2rem;
    font-family: $outstanding;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1;
    color: $white;

    .d-flex .carousel & {
      font-size: 2.4rem;
    }
  }

  @media (min-width: 576px) {
    .headTitle__text {
      font-size: 3.5rem;
    }

    .headTitle__text {

      .d-flex .carousel & {
        font-size: 3.5rem;
      }
    }

    .d-flex & {
      height: 67px;
    }

    .d-flex .carousel & {
      border: 5px solid $white;
    }
  }
}

.headTitle__subtitle {
  margin-top: 20px;
  background-color: rgba($color: $romantic, $alpha: 0.25);
  text-transform: uppercase;
  font-family: $general;
  font-size: 1.5rem;
  color: $mainColor;
  padding: 10px 20px;
  max-width: 800px;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);

  .sas2 & {
    background-color: rgba($color: $black, $alpha: 0.4);
  }

  @media (min-width: 576px) {
    font-size: 3rem;
    width: auto;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.85);
  }

}


.NameTitle {
  font-size: 24px;
  font-family: $general;
  text-transform: uppercase;
  font-weight: 900;

  .NameTitle_first {
    border: 3px solid $mainColor;
    text-align: center;
    width: 45px;
    font-size: 30px;
    line-height: 36px;
    margin-right: 5px;
    display: inline-block;
    padding: 2px 11px 2px;
    font-family: $general;
    color: $mainColor;
  }
}