@import "../../scss/variables.scss";


.headTitle {

  border: 5px solid $white;
  padding: 0 5px;
  width: auto;
  display: inline-block;
  margin: 0;
  
  .d-flex & {  
    height: 65px;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      width: 150%;
      top: 45%;
      left: -170%;
      border: 3px solid $mainColor;
    }
    &::after{
      content: '';
      position: absolute;
      width: 150%;
      top: 45%;
      right: -170%;
      border: 3px solid $mainColor;
    }
    
  }
  .headTitle__text {
    font-size: 3.5rem;
    font-family: $outstanding;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1;
    color: $white;
    
  }
}

.headTitle__subtitle {
  margin-top: 20px;
  text-transform: uppercase;
  font-family: $general;
  font-size: 1.5rem;
  color: $mainColor;
  text-shadow: 0px 0px 4px rgba(0,0,0,0.75);


}