@import '../../../../scss/variables.scss';

.contact-us {
  height: 100%;
  padding-top: $heightHeaderMobile + px;

  .contact-us__img--img {
    width: 100%;
    height: auto;
    display: none;
  }

  .contact-us__txt {
    font-family: $outstanding;
    font-size: 14px;
  }

  .contact-us__form {
    padding: 20px 10px;

    .contact-us__from--parf {
      color: $text;
      font-family: $general;
      font-size: 1rem;

    }
  }

  .btn {
    background-color: $mainColor;
    border-radius: none;
    border: none;
  }

  @media (min-width: 576px) {
    padding-top: $heightHeaderDesktop + 20 + px;
    height: 100vh;

    .contact-us__img--img {
      display: block;
      height: auto;
    }

    .contact-us__txt {
      margin-bottom: 45px;
      font-size: 18px;
    }

    .contact-us__form {
      padding: 40px;

      .contact-us__form--parf {
        font-size: 1.3rem;

      }
    }
  }
}