@import '../../../scss/variables.scss';

.home {
  .home--image__paralax {
    display: none;
  }

  .home__main--title {
    padding-top: 20px;
    position: absolute;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100vw;
    padding: 30px 5px;

    h1 {
      font-family: $outstanding;
      font-size: 20px;
      width: auto;
    }
  }

  @media (min-width: 576px) {
    .home__main--title {
      padding-top: $heightHeaderDesktop + px;
      margin: 0 auto;
      margin-bottom: 15px;

      h1 {
        font-size: 18px;
      }
    }

    .home--image__paralax {
      display: block;
    }
  }
}