@import '../../../../scss/variables.scss';

.what-we-do {
  height: 100vh * 2.2;
  margin-bottom: 50px;
  padding-top: $heightHeaderMobile + px;
  position: relative;

  @media (min-width: 576px) {
    height: 100vh;
    padding-top: 2vh;
    margin-bottom: 0;
  }

  &__frame {
    display: flex;

  }

  &__content {
    margin-bottom: 20px;
    width: 100%;
    padding: 20px 5px;
    text-align: center;
    color: $white;

    ul {
      list-style: none;
      padding: 0;

      >li {
        font-size: 20px;
        line-height: 35px;
        font-family: $outstanding;
      }
    }

    h4 {
      text-transform: uppercase;
      font-family: $general;
      font-weight: 700;
    }

    &.one {
      background-color: $romantic;
    }

    &.two {
      background-color: $tonys_pink;
    }

    &.three {
      background-color: $carissma;
    }

    &.four {
      background-color: $lavender_rose;
    }

  }

  .item {
    position: absolute;
    bottom: 25px;
    left: calc(50% - 0px);

    .mouse {
      border: 3px solid $text;
      top: auto;
      bottom: 0;

      &:before {

        background: $text;

      }
    }
  }


}