@import '../../scss/variables.scss';

.services__container {


  .services__description {
    font-size: 1.2rem;
    color: $text;
  }

  .col-12 {
    margin: 25px 0;
  }

  .services__list {
    text-align: left;

    span {
      font-size: 1.8rem;
      margin-right: 15px;
      text-transform: capitalize;
      font-family: $outstanding;
      font-weight: 400;

      &::after {
        content: '|';
        margin-left: 15px;
        color: $mainColor;
      }
    }

    p {
      margin-top: 30px;
      font-size: 1.2rem;
      font-family: $general;
    }
  }
}