@import '../../scss/variables.scss';

.about-us {
  //height: 100vh;
  height: auto;
  display: block;
  padding-top: $heightHeaderMobile + px;

  .about__description {
    font-size: 20px;
    color: $text;
    margin: 50px 0 150px;
    text-align: center;
    padding: 20px;
  }

  .headTitle {
    height: 58px;
    padding: 0 2px;

    .headTitle__text {
      font-size: 2.9rem;
    }
  }

  @media (min-width: 576px) {
    padding-top: 50px;
    font-size: 18px;
    padding: 0;

    .about__description {
      font-size: 24px;

    }

    .headTitle {
      height: 67px;

      .headTitle__text {
        font-size: 3.5rem;
      }
    }
  }

  .about-us__img {
    width: 100%;
    margin: 0 auto;
    height: 100px;

    &.hidden__img {
      text-align: center;
      overflow-y: hidden;

    }
  }

  .about-us__img--img {
    width: 100%;
    height: auto;
  }

  .about-us__txt {
    text-align: center;
    font-size: 20px;
    padding: 20px 10px;

    h3 {
      font-family: $outstanding;
      font-size: 30px;
      font-weight: 400;
    }

    .about-us__txt--parf {
      color: $text;
      font-family: $general;
      font-size: 20px;

    }
  }

  @media (min-width: 576px) {
    min-height: 100%;

    .about-us__img {
      height: auto;

      &.hidden {
        .about-us__img--img {
          width: 120%;
        }

      }
    }


    .about-us__txt {
      padding: 20px;

      h3 {
        font-family: $outstanding;
        font-size: 30px;
        font-weight: 400;
        margin-top: 20px;
      }

      .about-us__txt--parf {
        font-size: 18px;

      }
    }
  }
}