@import '../../scss/variables.scss';

.about-us {
  //height: 100vh;
  height: auto;
  display: block;
  padding-top: 40px;

  .about__description {
    font-size: 20px;
    color: $text;
    margin: 50px 0 150px;
    text-align: center;
    padding: 20px;
  }

  .how__section {
    padding: 0;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: center;

    .how__box {
      text-align: center;
      background-color: $mainColor;
      padding: 0px 20px 10px;

      p {
        color: $white;
        font-family: $general;
      }

      h3 {
        font-family: $outstanding;
        color: $white;
        font-weight: 700;
        font-size: 24px;
        padding: 8px;
        border-top: 1px $white solid;
        border-bottom: 1px $white solid;

      }

    }

    >.col-md-4 {
      padding: 20px;

      &:nth-child(3) .how__box {
        background-color: $web;
      }

      &:nth-child(8) .how__box {
        background-color: $marketing;
      }

      &:nth-child(5) .how__box {
        background-color: $photo;
      }

      &:nth-child(6) .how__box {
        background-color: $grafhic;
      }

      &:nth-child(7) .how__box {
        background-color: $brand;
      }
    }

  }

  .headTitle {
    height: 58px;
    padding: 0 2px;

    margin-bottom: 20px;

    .headTitle__text {
      font-size: 2.6rem;
    }
  }

  @media (min-width: 576px) {
    padding-top: 50px;
    font-size: 18px;
    padding: 0;

    .about__description {
      font-size: 24px;

    }

    .how__section {
      padding: 50px 0;
    }

    .headTitle {
      height: 67px;

      .headTitle__text {
        font-size: 3.5rem;
      }
    }
  }

  .about-us__img {
    width: 100%;
    margin: 0 auto;
    height: 100px;

    &.hidden__img {
      text-align: center;
      overflow-y: hidden;

    }
  }

  .about-us__img--img {
    width: 100%;
    height: auto;
  }

  .about-us__txt {
    text-align: center;
    font-size: 20px;
    padding: 20px 10px;

    h3 {
      font-family: $outstanding;
      font-size: 30px;
      font-weight: 400;
    }

    .about-us__txt--parf {
      color: $text;
      font-family: $general;
      font-size: 20px;

    }
  }

  @media (min-width: 576px) {
    min-height: 100%;

    .about-us__img {
      height: auto;

      &.hidden {
        .about-us__img--img {
          width: 120%;
        }

      }
    }


    .about-us__txt {
      padding: 20px;

      h3 {
        font-family: $outstanding;
        font-size: 30px;
        font-weight: 400;
        margin-top: 20px;
      }

      .about-us__txt--parf {
        font-size: 18px;

      }
    }
  }
}