@import '../../../Scss/variables.scss';


.profile {
  display: block;
  margin-bottom: 100px;

  .profile__img {
    display: flex;
    justify-content: center;

    .frame {
      width: 100%;
      //height: 250px;
      overflow-y: hidden;
      max-width: 90vw;
      position: relative;

      &::before {
        content: '';
        width: 95%;
        border: 3px solid white;
        height: 95%;
        position: absolute;
        left: 2.5%;
        top: 2.5%;
      }
    }

    img {
      width: 100%;
      margin: 0 auto;
      height: 100%;
    }
  }

  .profile__text {
    text-align: left;

    h3 {
      font-family: $outstanding;
      font-size: 1.4rem;
      font-weight: 600;
      margin: 10px 0 5px;
      color: $text
    }

    .profile__text_parf {
      font-family: $outstanding;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.4rem;
      margin-bottom: 0;
    }
  }

  @media (min-width: 576px) {
    .profile__img {
      display: flex;
      justify-content: center;

      .frame {
        width: auto;
        height: 250px;
        max-width: 300px;
      }

      img {
        width: auto;
        margin: 0 auto;
        height: 100%;
      }
    }

  }



  button:hover {
    background: #ddd;
  }
}

.bio_subtitle {
  font-size: 18px;
  font-family: $outstanding;
  color: $text;
  margin-top: 10px;
}

.bio_txt {
  font-size: 18px;
  color: $text;
}