@import "../../../scss/variables.scss";

.footer {
  height: 350px;
  background-color: $text;

  p,
  span {
    margin: 0;
    color: $white;
  }

  span {
    position: relative;
    display: block;
    padding: 0;
    margin-bottom: 10px
  }

  h5 {
    font-family: $outstanding;
    font-weight: 700;
    text-transform: uppercase;
    color: $mainColor;
    border-bottom: 1px solid $mainColor;
    width: auto;
    padding-bottom: 5px;
  }

  @media (min-width: 576px) {
    height: 250px;
  }

  .footer__box--icons {
    a {
      display: inline-block;
      margin-right: 15px
    }
  }

}