@import "../../../scss/variables.scss";

.footer {
  height: 350px;
  background-color: $text;

  p,
  span {
    margin: 0;
    color: $white;
  }

  h5 {
    font-family: $outstanding;
    font-weight: 700;
    text-transform: uppercase;
    color: $mainColor;
    border-bottom: 1px solid $mainColor;
    width: auto;
    padding-bottom: 5px;
  }

  @media (min-width: 576px) {
    height: 250px;
  }

}