@import '../../../../scss/variables.scss';

.what-we-do {
  height: 100vh;
  padding-top: $heightHeaderMobile + px;

  @media (min-width: 576px) {
    padding-top: $heightHeaderDesktop + 20 + px;
  }

  &__frame {
    display: flex;

  }

  &__content {
    padding: 20px 5px;
    text-align: center;
    color: $white;

    ul {
      list-style: none;
      padding: 0;

      >li {
        font-size: 20px;
        line-height: 40px;
      }
    }

    h4 {
      text-transform: uppercase;
    }

    &.one {
      background-color: $romantic;
    }

    &.two {
      background-color: $tonys_pink;
    }

    &.three {
      background-color: $carissma;
    }

    &.four {
      background-color: $lavender_rose;
    }

  }


}