@import './Scss/variables.scss';
@import './Scss/animate.scss';


body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sections {
  flex-wrap: wrap;
  justify-content: center;
  min-height: 100vh;
}

.sections__texts {

  padding: 20px 0;
  text-align: center;
}

@media (min-width: 576px) {
  .sections__texts {
    margin-top: 50px;
  }
}