// colors
$mainColor: #FFA59E;
$hoverManiColor: #FF0D49;
$secondaryColor: #CCCCCC;
$romantic: #FFB991;
$tonys_pink: #E89984;
$carissma: #E8849F;
$lavender_rose: #FF91E6;
$text: #505050;
$white: #fff;
$black: #000;
//Height
$heightHeaderMobile: 80;
$heightHeaderDesktop: 90;

//Categories color
$web: $hoverManiColor;
$app: $secondaryColor;
$photo:$romantic;
$grafhic:$tonys_pink;
$brand:$carissma;
$marketing:$lavender_rose;


// Z-index
$Zmenu-mobile: 10000;
$Zmenu: 1000;
$bottomImg: -10;
// font-family

$general: 'Lato',
sans-serif;
$outstanding: 'Raleway',
sans-serif;