// colors
$mainColor: #FFA59E;
$hoverManiColor: #FF0D49;
$secondaryColor: #CCCCCC;
$text: #505050;
$white: #fff;
$black: #000;
//Height
$heightHeaderMobile: 80;
$heightHeaderDesktop: 80;

// Z-index

$Zmenu: 10000;
$bottomImg: -10;
// font-family

$general: 'Lato', sans-serif;
$outstanding: 'Raleway', sans-serif;